<app-nav-bar></app-nav-bar>


<div class="container ">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table font-monospace ">
                <thead class="bg-light">
                    <tr>

                
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date</th>
                        <th scope="col">Venue</th>
                        

                    </tr>
                </thead>
                <tbody>
                    <tr>
                                         
                        <td>Java</td>
                        <td>Backend</td>
                        <td>three months</td>
                        <td>2020-12-01</td>
                        <td>Online</td>

                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>